.header img {
  display: flex;
  width: 80%;
  height: 70%;
  padding-top: 13px;
  padding-left: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1DBE67;
  height: 90px;
}


.addButton  {
  margin: 10px 41px 0px 15px;
}

.header button {
  margin-top: 23px;
  border: none;
  font-size: 90%;
  font-weight: bold;
  color: #1dbe67;
  padding: 10px 10px;
  backdrop-filter: blur(8px); 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 10px; 
  box-shadow: 3px 3px 20px 0px rgba(29, 190, 103, 0.5), inset -0px -0px 16px 0px rgba(29, 190, 103, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);  
  height: 50%;
  width: 80%;
}


.header button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

header {
  box-shadow: 0 0 11px 0 rgba(0, 10, 0, 0.5);
  margin-bottom: 30px;
}


_::-webkit-full-page-media,_:future,:root .header img {
  width: 85%;
  height: 70%;
  padding-top: 13px;
  padding-left: 30px;
  margin: 0;
  flex-shrink: 0;
}

_::-webkit-full-page-media,_:future,:root .titleCon {
  width: 200px;
}

_::-webkit-full-page-media,_:future,:root .addButton {
  display: block;
  white-space: nowrap;
  margin-right: 10px;
}

_::-webkit-full-page-media,_:future,:root .header button {
  width: 100%;
  margin-top: 16px;
  padding: 12px 15px;
  font-size: 100%;
}
