.header img {
  display: flex;
  width: 80%;
  height: 70%;
  padding-top: 13px;
  padding-left: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1DBE67;
  height: 90px;
}

.addButton  {
  margin-right: 15px;
}

.header button {
  margin-top: 15px;
  border: solid 2px;
  font-size: 0.9em;
  font-weight: bold;
  color: #1dbe67;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  height: 60%;
}

.header button:hover {
  background-color: #1dbe67;
  color: white;
}
