.lectureForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  
}

.eachForm {
  margin: 1rem;
  justify-content: start;
  text-align: left;
}

.eachForm input {
  display: flex;
  justify-content: end;
  width: 70%;
  height: 1.7rem;
  padding: 0.7rem;
  border: 1px solid #ccc; 
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 10, 0, 0.1);
}

.eachForm p {
  font-weight: bold;
}

.eachForm select {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  justify-content: end;
  width: 60%;
  height: 3.2rem;
  padding: 0.7rem;
  border: 1px solid #ccc; 
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 10, 0, 0.1);
}


.eachForm input:focus {
  outline: 2px solid #1dbe67;
}

.eachForm select:focus {
  outline: 2px solid #1dbe67;
}



.lectureForm button {
  margin: 1.5rem 0.7rem;
  margin-left: 1.2rem;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #1dbe67;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 2px rgba(158, 157, 157, 0.7), inset -1px -1px 6px 0px rgba(158, 157, 157, 0.2), inset 0px 0px 1px 0px rgb(255, 255, 255, 0.4);  
  border: none;
  cursor: pointer;
}

.lectureForm .cancelButton {
  font-size: 1.2em;
  font-weight: bold;
  color: #1dbe67;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 0.6rem;
}

.form-actions {
  display: flex;
}

.lectureForm button:hover {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
  transition: 0.2s;
}

.errors {
  color: red;
  font-size: 0.8rem;
  margin: 0.5rem 2rem;
  text-align: left;
  padding-left: 1rem;
}

