.lectureList {
  text-align: center;
}

.search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 20px;
  width: 30%;
  box-shadow: 1px 1px 1px #ccc;
}

.search:focus {
  outline: 2px solid #1dbe67;
}

.navBar {
  display: flex;
  margin: 10 40;
  justify-content: center;
  width:  100%;
}

.navContainer {
  display: flex;
  justify-content: center;
}

.addButton {
  margin-top: 6px;
  margin-left: 20px;
}

.lectureList {
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.lecture {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
  width: 70%;
}

.lecture h2 {
  display: inline-block;
  justify-content: center;
}

.lecture:hover {
  background-color: #E6FFE6;
  color: #000;
  transform: scale(1.05);
}

.lectureList .lectureInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lectureList .lectureInfo p {
  margin: 13px 10px ;
}