.lectureForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.formTitle {
  font-size: 170%;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-right: 1.5rem;
}



.buttonContainer {
  display: flex;
}

.errors {
  color: red;
  font-size: 0.8rem;
  margin: 0.5rem 2rem;
  text-align: left;
  padding-left: 1rem;
}

.eachForm textarea {
  width: 70%;
}
