.lectureForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  
}

.formTitle {
  font-size: 1.7rem;
  margin: 1.3rem 3rem;
}

.eachForm {
  margin: 1rem;
  justify-content: start;
  text-align: left;
}

.eachForm input {
  display: flex;
  justify-content: end;
  width: 70%;
  height: 1.7rem;
  padding: 0.7rem;
  border: 1px solid #ccc; 
  border-radius: 0.5rem;
}

.eachForm p {
  font-weight: bold;
}

.eachForm select {
  display: flex;
  justify-content: end;
  width: 70%;
  height: 3.2rem;
  padding: 0.7rem;
  border: 1px solid #ccc; 
  border-radius: 0.5rem;
}

.lectureForm .cancelButton {
  border: solid 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: #1dbe67;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;

}

.lectureForm button {
  margin: 1.5rem ;
  border: solid 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #1dbe67;
  padding: 10px 15px;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
}

.errors {
  color: red;
  font-size: 0.8rem;
  margin: 0.5rem 2rem;
  text-align: left;
  padding-left: 1rem;
}

.eachForm textarea {
  width: 70%;
}
